.toolbar{
    background-color:var(--explorerbar);
    padding: 4px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-right: .2px solid rgba(255, 255, 255, 0.261);

}

.tool{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 10px;
    color: grey;
   
    padding: 2px;
    gap: 5px;
    transition: 0.3s linear;

    img{
        width: 15px;
    }
    &:hover{
         background-color: rgb(0, 51, 128);
         cursor: pointer;
    }
}